<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Howwwwwwdy!</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
<nav th:replace = "~{fragments :: navbar}"></nav>

<h2>Welcome to the homepage. Please create your account.</h2>
<form method="POST" action="/signup">
    <input type="text" placeholder="Username" name="username">
    <input type="text" placeholder="Password" name="password">
    <input type="text" placeholder="First Name" name="firstName">
    <input type="text" placeholder="Last Name" name="lastName">
    <input type="number" placeholder="Date of Birth" name="dob">
    <input type="text" placeholder="Bio" name="bio">
    <button type="submit">Create your account</button>
</form>
</body>
</html>